body
{
	background-color: #b3f0ff;
	color: #004488;
	text-align: justify;
	font-family: 'Courier New', bold;
	font-weight: 900;
	font-size: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
a:link
{
	color: #006080;
}
a:visited
{
	color: #008080;
}
a:hover
{
	color: #0088cc;
}
p
{
	color: #004488;
	text-align: justify;
	font-family: 'Courier New', bold;
	font-weight: 900;
	font-size: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
h1
{
	color: #004488;
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-weight: 600;
	font-size: 50px;
}
h2
{
	color: #004488;
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-weight: 600;
	font-size: 40px;
}
h2 vid
{
	text-align: center;
}
h3
{
	color: #004488;
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-weight: 600;
	font-size: 30px;
}
h4
{
	color: #004488;
	text-align: center;
	font-family: 'Courier New', bold;
	font-weight: 900;
	font-size: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #004488;
}
li
{
	align: center;
	float: left;
}

li a
{
	font-family: 'Audiowide', cursive;
	font-weight: 600;
	display: block;
	color: white;
	text-align: center;
	width: 250px;
	padding: 16px;
	text-decoration: none;
}
li a:hover
{
	background-color: #0088cc;
	color: white;
}
li a:visited
{
	background-color: #0088cc;
	color: white;
}