body
{
	background-color: #eeffff;
	color: #004488;
	padding-left: 150px;
	padding-right: 150px;
	position: relative;
}
a:link
{
	color: #004488;
}
a:visited
{
	color: #004488;
}
a:hover
{
	color: #0088cc;
}
p
{
	color: #004488;
	text-align: justify;
	font-family: 'Courier New', bold;
	font-weight: 900;
	font-size: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
p.maindownload
{
	text-align: center;
}
h1
{
	color: #004488;
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-weight: 600;
	font-size: 50px;
	padding: 50px;
}
h2
{
	color: #004488;
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-weight: 600;
	font-size: 40px;
	line-height: 1.0;
}
h3
{
	color: #004488;
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-weight: 600;
	font-size: 30px;
}
h4
{
	color: #004488;
	text-align: center;
	font-family: 'Courier New', bold;
	font-weight: 900;
	font-size: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
ul
{
	list-style-type: none;
	text-align: center;
	overflow: hidden;
}
ul.mainMenu
{
	margin: auto;
	list-style-type: none;
	overflow: hidden;
	display: table;
}
li.mainMenuElement
{
	background-image: url("images/ui/menu-button.png");
	background-size: 100%;
	text-decoration: none;
	text-align: center;
	float: left;
	display: block;
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-inline-start: 0px;
	width: 250px;
}
li.mainMenuElement a
{
	font-family: 'Audiowide', cursive;
	font-weight: 600;
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 0px;
}
li.mainMenuElement:hover
{
	background-image: url("images/ui/menu-button-hover.png");
}
img
{
	max-width: 100%;
	height: auto;
}
div.vidcontainer
{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
nav.sticky
{
	position: sticky;
}