html
{
    
}
body
{
    width: 1200px;
    margin: auto;
}
a
{
	color: #005888;
}
a.hover
{
    color: #0088dd;
}
h1.web-name
{
    font-family: 'Play';
    font-size: 40px;
	color: #005888;
    float: left;
}
h1.page-name
{
    font-family: 'Play';
    font-size: 36px;
	color: #005888;
    float: right;
}
h1.centered
{
    color: #005888;
    border-color: #005888;
    border-style: solid;
    border-width: 10px;
    font-family: 'Play';
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}
nav
{
    clear: both;
    padding-bottom: 40px;
}
article
{
    margin: 0px;
    clear: both;
	color: #005888;
    font-family: 'Exo 2';
    padding-bottom: 20px;
}
article h2
{
    font-size: 30px;
}
article h3
{
    font-size: 24px;
}
article p
{
    font-size: 20px;
    line-height: 30px;
}
article img
{
    margin: auto;
    width: 100%;
}
nav
{
    background-color: #005888;
    width: 1200px;
}
ul.menu
{
    list-style-type: none;
    padding-inline-start: 0px;
}
li.menubutton a
{
    background-color: #005888;
    width: 240px;
    color: white;
    font-family: 'Play';
    font-size: 30px;
    float: left;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
li.menubutton a:hover
{
    background-color: #0088dd;
}
article li
{
    font-size: 20px;
    line-height: 30px;
}
footer
{
    margin-top: 20px;
    clear: both;
    background-color: #005888;
    padding: 40px;
    text-align: center;
}
footer h3
{
    margin: 0px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Audiowide';
}
footer p
{
    margin: 0px;
    color: white;
    font-family: 'Courier New', bold;
    font-weight: bold;
    font-size: 18px;
}
.image-header
{
    background-color: #005588;
    color: white;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Play';
    font-size: 30px;
    
}
div.home-panel-row
{
    clear: both;
}
div.home-panel 
{
    float: left;
    width: 600px;
    height: auto;
    margin-bottom: 20px;
}
div.home-panel a
{
    float: left;
    width: 600px;
    height: auto;
    text-decoration: none;
}
div.home-panel a:hover
{
    background-color: #0088dd;
}
div.centered
{
    width: 100%;
    text-align: center;
}
div.home-left
{
    padding-top: 20px;
    float: left;
    width: 400px;
}
div.home-right
{
    padding-top: 20px;
    float: right;
    width: 600px;
}
div.download-button a
{
    width: 560px;
    background-color: #005888;
    color: white;
    font-family: 'Play';
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}
div.download-button a:hover
{
    background-color: #0088dd;
}
div.imgborder
{
    background-color: #005888;
    padding: 20px;
}
section.left
{
    padding: 10px;
    width: 560px;
    height: 400px;
    float: left;
    display: inline-block;
}
section.right
{
    padding: 10px;
    width: 560px;
    height: 400px;
    float: right;
    display: inline-block;
}
iframe.leftvid
{
    width: 500px;
    height: 320px;
}
a.white
{
    color: white;
    text-decoration: none;
}